@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(2 6 23);
  color: white;
  -webkit-font-smoothing: antialiased;
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glow {
  box-shadow: 0 0 50px -12px rgba(16, 185, 129, 0.5);
}
